@using Microsoft.AspNetCore.Identity;
@using MerrJepData;
@model MerrJep.ViewModels.ItemDetailsVM
@inject UserManager<ApplicationUser> _userManager;
@{
	var loggedInUser = new ApplicationUser();
	loggedInUser = _userManager.Users?.FirstOrDefault(x => x.UserName == User.Identity!.Name);
}

@{
	ViewData["Title"] = "Detajet";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
	<section class="pt-4">
		<div class="container position-relative">
			<div class="row">
				<div class="col-12">
					<div class="d-flex justify-content-between align-items-lg-center">
						<div class="ms-3">
							<a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-sm btn-primary-soft mb-0 w-100">
								<i class="bi bi-arrow-left ms-2"></i>Kthehu tek lista
							</a>						
						</div>
					</div>
				</div>
			</div>
		</div>

	</section>

	<section class="pt-0">
		<div class="container" data-sticky-container>
			<div class="row g-4">

				<div class="col-xl-8">
					<div class="vstack gap-5">

						<div class="card border p-4">
							<div class="card-body p-0">
								<div class="row g-4 align-items-center">
									<div class="col-md-4">
										<div class="bg-light rounded-3 px-4 py-5">
											@{
												var image = Model.Item.Images.Where(x => x.IsMainImage == 1).First();
												var imgBase64 = Convert.ToBase64String(image.ImageByte);
												var imgNameParts = image.ImageName.Split('.');
												var imgExtension = imgNameParts[imgNameParts.Length - 1];
												var imageName = imgNameParts[0];
												for (int i = 1; i < imgNameParts.Length - 1; i++)
												{
													imageName += '.' + imgNameParts[i];
												}
											}
											<img src="data:image/@imgExtension;base64,@imgBase64" alt="@imageName">
										</div>
									</div>

									<div class="col-md-8">
										<div class="d-sm-flex justify-content-sm-between">
											<div>
												<h4 class="card-title mb-2">@Model.Item.Name</h4>
												<ul class="nav nav-divider h6 fw-normal mb-2">
													<li class="nav-item">@Model.Item.ApplicationUser.FirstName @Model.Item.ApplicationUser.LastName</li>
													<li class="nav-item">@Model.Item.DateAdded</li>
												</ul>
											</div>
											
										</div>

										<ul class="list-group list-group-borderless mt-2 mb-0">
											<li class="list-group-item d-flex pb-0 mb-0">
												<span class="h6 fw-normal mb-0"><i class="bi bi-check-circle me-2"></i>Sasia ne gjendje: @Model.Item.AvailableQuantity</span>
											</li>
											<li class="list-group-item d-flex pb-0 mb-0">
												<span class="h6 fw-normal mb-0"><i class="bi bi-check-circle me-2"></i>Cmimi: @Model.Item.Price @Model.Item.Currency.Name </span>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="card-footer p-0 pt-4">
								<div class="hstack gap-3 flex-wrap" id="cartStatus">
									@if (Model.Item.ApplicationUserId == loggedInUser.Id)
									{
										<div class="d-flex justify-content-between">
											<a asp-area="" asp-controller="Items" asp-action="DeleteItem" asp-route-id="@Model.Item.Id" class="btn btn-danger-soft mb-0"><i class="fas fa-trash me-2"></i>Fshi artikullin</a>
										</div>
									}
									else
									{
										if (Model.AddedToCart == false)
										{
											<div class="hstack gap-1 align-items-center">
												<button type="button" class="btn btn-link remove-btn p-0 mb-0" disabled><i class="bi bi-dash-circle fs-5 fa-fw"></i></button>
												<h6 class="amount mb-0">1</h6>
												@{
													var disabledAttr = Model.Item.AvailableQuantity == 1 ? "disabled" : "";
												}
												<button type="button" class="btn btn-link add-btn p-0 mb-0" @disabledAttr><i class="bi bi-plus-circle fs-5 fa-fw"></i></button>
											</div>

											<button id="addToCart" class="btn btn-sm btn-primary-soft mb-0">
												Shto ne shporte
											</button>
										}
										else
										{
											<div class="d-flex justify-content-between">
												<button id="deleteFromCart" data-id="@Model.Item.Id" class="btn btn-danger-soft mb-0"><i class="fas fa-trash me-2"></i>Hiq nga shporta</button>
											</div>
										}
									}
								</div>
							</div>
						</div>
						
						<div class="card bg-transparent">
							<div class="card-body pt-4 p-0">
								<h5>Te gjitha fotot</h5>


								<div class="row">
									<div class="tiny-slider arrow-round arrow-xs arrow-dark">
										<div class="tiny-slider-inner rounded-2" data-autoplay="false" data-arrow="true" data-dots="false" data-items="3" data-items-sm="2">
											<div>

												<a class="w-100 h-100" data-glightbox data-gallery="gallery" href="data:image/@imgExtension;base64,@imgBase64">
													<div class="card card-element-hover card-overlay-hover overflow-hidden">
														<img src="data:image/@imgExtension;base64,@imgBase64" alt="@imageName" class="rounded-3">
														<div class="hover-element w-100 h-100">
															<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
														</div>
													</div>
												</a>
											</div>
											@foreach(var addImage in Model.Item.Images.Where(x => x.IsMainImage == 0))
											{
												var addImgBase64 = Convert.ToBase64String(addImage.ImageByte);
												var addImgNameParts = addImage.ImageName.Split('.');
												var addImgExtension = addImgNameParts[addImgNameParts.Length - 1];
												var addImageName = addImgNameParts[0];
												for (int i = 1; i < addImgNameParts.Length - 1; i++)
												{
													addImageName += '.' + addImgNameParts[i];
												}
												<div>

													<a class="w-100 h-100" data-glightbox data-gallery="gallery" href="data:image/@addImgExtension;base64,@addImgBase64" alt="@addImageName">
														<div class="card card-element-hover card-overlay-hover overflow-hidden">
															<img src="data:image/@addImgExtension;base64,@addImgBase64" alt="@addImageName" class="rounded-3">
															<div class="hover-element w-100 h-100">
															</div>
														</div>
													</a>
												</div>
											}
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
				<aside class="col-xl-4">
					<div class="card-header border-bottom bg-transparent px-0 pt-0">
						<h4 class="mb-0">Pershkrimi i artikullit</h4>
						<p>@Model.Item.Description</p>
					</div>
				</aside>
			</div>
		</div>
	</section>

</main>


<script>
	$(document).ready(function (){

		toastr.options = {
			'closeButton': true,
			'debug': false,
			'newestOnTop': false,
			'progressBar': false,
			'positionClass': 'toast-top-right',
			'preventDuplicates': false,
			'showDuration': '3000',
			'hideDuration': '3000',
			'timeOut': '3000',
			'extendedTimeOut': '3000',
			'showEasing': 'swing',
			'hideEasing': 'linear',
			'showMethod': 'fadeIn',
			'hideMethod': 'fadeOut',
		}

		$(document).on("click", "#addToCart", function () {
			var obj = {
				ItemId: '@Model.Item.Id',
				Amount: parseInt($(".amount").html())
			}
			$.ajax({
				url: "/Cart/AddItemToCart",
				method: "POST",
				data: obj,
				success: function (data) {
					if (data == "true") {
						toastr.success("Shtimi ne shporte u be me sukses")
						$("#cartStatus").html(`
											<div class="d-flex justify-content-between">
													<button id="deleteFromCart" data-id="@Model.Item.Id" class="btn btn-danger-soft mb-0"><i class="fas fa-trash me-2"></i>Hiq nga shporta</button>
												</div>
								`);
					}
					else {
						toastr.error("Ndodhi nje gabim gjate shtimit ne shporte")
					}
				},
				error: function (err) {
					toastr.error("Ndodhi nje gabim gjate shtimit ne shporte")
				}
			});
		})

		$(document).on("click", ".remove-btn", function () {
			$(".add-btn").removeAttr("disabled");
			var currentNr = parseInt($(".amount").html());
			$(".amount").html(currentNr - 1);
			if ((currentNr - 1) == 1) {
				$(this).attr("disabled", "");
			}
		})

		$(document).on("click", ".add-btn", function (){
			$(".remove-btn").removeAttr("disabled");
			var currentNr = parseInt($(".amount").html())
			$(".amount").html(currentNr + 1);
			if ((currentNr + 1) == '@Model.Item.AvailableQuantity') {
				$(this).attr("disabled", "");
			}
		})

		$(document).on("click", "#deleteFromCart", function () {
			console.log("clicking remove from cart")
			var itemId = $(this).attr("data-id")
			$.ajax({
				url: "/Cart/DeleteItemFromCart?itemId=" + itemId,
				method: "POST",
				success: function (data) {
					if (data == "true") {
						toastr.success("Artikulli u hoq nga shporta")
						$("#cartStatus").html(`
										<div class="hstack gap-1 align-items-center">
														<button type="button" class="btn btn-link remove-btn p-0 mb-0"><i class="bi bi-dash-circle fs-5 fa-fw"></i></button>
														<h6 class="amount mb-0">0</h6>
														<button type="button" class="btn btn-link add-btn p-0 mb-0"><i class="bi bi-plus-circle fs-5 fa-fw"></i></button>
													</div>

													<button id="addToCart" class="btn btn-sm btn-primary-soft mb-0">
														Shto ne shporte
													</button>
								`);
					}
					else {
						toastr.error("Ndodhi nje gabim gjate heqjes se artikullit")
					}
				},
				error: function (err) {
					toastr.error("Ndodhi nje gabim gjate heqjes se artikullit")
				}
			});
		})

	})
</script>