@model List<MerrJep.ViewModels.OrderVM>
@using Newtonsoft.Json;

@{
	ViewData["Title"] = "Llogaria Ime";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>

	<section class="pt-3">

		<div class="container">

			<div class="row">
				@foreach (var order in Model)
				{
					<div class="col-lg-4 col-xl-6">
						<aside>
							<div data-sticky data-margin-top="80" data-sticky-for="1199">
								<div class="card card-body bg-light p-4">
									<h6 class="text-success fw-normal">@order.Order.Name</h6>

									<ul class="list-group list-group-borderless mb-0">
										@{
											double total = 0;
										}
										@foreach (var orderItem in order.OrderItemList)
										{
											var totalItemPrice = orderItem.Item.Price * orderItem.ItemQuantity;
											total += totalItemPrice;
											var currency = orderItem.Item.Currency.Name;
											<li class="list-group-item d-flex justify-content-between">
												<div>
													<span class="h6 fw-light mb-0">@orderItem.Item.Name</span>
												</div>
												<div class="cartItem @currency" data-id="@orderItem.ItemId">
													<span class="h6 fw-light mb-0 itemPrice">@orderItem.ItemQuantity X @orderItem.Item.Price => </span>
													<span class="h6 fw-light mb-0 totalItemPrice">@totalItemPrice</span>
													<span class="h6 fw-light mb-0 currencyName">@orderItem.Item.Currency.Name</span>
													<span class="h6 fw-light mb-0 convertedPrice"></span>
												</div>
											</li>
										}
										<li class="list-group-item d-flex justify-content-between">
											<span class="h6 fw-light mb-0"> 0% </span>
										</li>
										<li class="list-group-item py-0"><hr class="my-0"></li>
										<li class="list-group-item d-flex justify-content-between pb-0">
											<span class="h5 fw-normal mb-0">Totali</span>
											<div id="totalPrice">
												<span class="h5 fw-normal mb-0 totalPrice"></span>
												<span class="h5 fw-normal mb-0 totalCurrencyName"></span>
											</div>
										</li>
									</ul>

									<div class="d-grid mt-4 gap-2">
										<button data-orderId="@order.Order.Id" class="btn btn-dark mb-0 mt-2 replaceOrder">Porosit Serish</button>
									</div>
								</div>
							</div>
						</aside>
					</div>
				}
			</div>
		</div>
	</section>
</main>

<script>
	$(document).ready(function () {
		toastr.options = {
			'closeButton': true,
			'debug': false,
			'newestOnTop': false,
			'progressBar': false,
			'positionClass': 'toast-top-right',
			'preventDuplicates': false,
			'showDuration': '3000',
			'hideDuration': '3000',
			'timeOut': '3000',
			'extendedTimeOut': '3000',
			'showEasing': 'swing',
			'hideEasing': 'linear',
			'showMethod': 'fadeIn',
			'hideMethod': 'fadeOut',
		}

		$(document).on("click", ".replaceOrder", function () {
			var obj = {
				OrderId: $(this).attr("data-orderId")
			}
			$.ajax({
				url: "/Cart/ReplaceOrder",
				method: "POST",
				data: obj,
				success: function (data) {
					if (data == "true") {
						toastr.success("Porosia u krye me sukses");
					}
					else {
						toastr.error("Ndodhi nje gabim gjate berjes se porosise")
					}
				},
				error: function (err) {
					toastr.error("Ndodhi nje gabim gjate berjes se porosise")
				}
			});
		})

	})
</script>