@model List<MerrJep.ViewModels.CartVM>

@{
	ViewData["Title"] = "Shporta Ime";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>

	<section class="pt-3">

		<div class="container">

			<div class="row">
				<div class="col-lg-8 col-xl-8">
					<div class="card border bg-transparent">
						<div class="card-header bg-transparent border-bottom">
							<h4 class="card-header-title">Shporta Ime</h4>
						</div>
						<div class="card-body vstack gap-4">
							@if (Model.Count > 0)
							{
								<div class="d-flex justify-content-between">
									<button id="deleteAll" class="btn btn-danger-soft mb-0"><i class="fas fa-trash me-2"></i>Hiq te gjitha</button>
								</div>
								@foreach (var cart in Model)
								{
									<div class="card shadow p-2">
										<div class="row g-0">
											<div class="col-md-3">
												@{
													var image = cart.Item.Images.Where(x => x.IsMainImage == 1).First();
													var imgBase64 = Convert.ToBase64String(image.ImageByte);
													var imgNameParts = image.ImageName.Split('.');
													var imgExtension = imgNameParts[imgNameParts.Length - 1];
													var imageName = imgNameParts[0];
													for (int i = 1; i < imgNameParts.Length - 1; i++)
													{
														imageName += '.' + imgNameParts[i];
													}
												}
												<img src="data:image/@imgExtension;base64,@imgBase64" class="card-img rounded-2" alt="Card image">
											</div>
											<div class="col-md-9">
												<div class="card-body py-md-2 d-flex flex-column h-100">
													<div class="d-flex justify-content-between align-items-center">
														<div>
															<h5 class="card-title mb-1" style="display: inline">@cart.Item.Name</h5>
															<span class="mb-0 me-2"> / @cart.Cart.AmountOfProduct</span>
														</div>
														<ul class="list-inline mb-0">
															<li class="list-inline-item">
																<button data-id="@cart.Item.Id" class="btn btn-sm btn-round btn-danger mb-0 btnDeleteItem"><i class="fa-solid fa-fw fa-trash"></i></button>
															</li>
														</ul>
													</div>
													<small>@cart.Item.ApplicationUser.FirstName @cart.Item.ApplicationUser.LastName / @cart.Item.DateAdded</small>
													<div class="d-sm-flex justify-content-sm-between align-items-center mt-3 mt-md-auto">
														<div class="d-flex align-items-center">
															<h5 class="fw-bold mb-0 me-1">@cart.Item.Price</h5>
															<span class="mb-0 me-2">@cart.Item.Currency.Name</span>
														</div>
														<div class="mt-3 mt-sm-0">
															<a asp-area="" asp-controller="Items" asp-action="Details" asp-route-id="@cart.Item.Id" class="btn btn-sm btn-dark w-100 mb-0">Shiko Detajet</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								}
							}
							else
							{
								<p>Nuk ka artikuj ne shporte</p>
							}
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-xl-4">
					<aside>
						<div data-sticky data-margin-top="80" data-sticky-for="1199">
							<div class="card card-body bg-light p-4">
								<h6 class="text-success fw-normal">Porosit tani</h6>

								<ul class="list-group list-group-borderless mb-0">
									@{
										double total = 0;
									}
									@foreach (var cart in Model)
									{
										var totalItemPrice = cart.Item.Price * cart.Cart.AmountOfProduct;
										total += totalItemPrice;
										<li class="list-group-item d-flex justify-content-between">
											<div>
												<span class="h6 fw-light mb-0">@cart.Item.Name</span>
											</div>
											<div>
												<span class="h6 fw-light mb-0">@cart.Cart.AmountOfProduct X @cart.Item.Price => </span>
												<span class="h6 fw-light mb-0">@totalItemPrice @cart.Item.Currency.Name</span>
											</div>
										</li>
									}
									<li class="list-group-item d-flex justify-content-between">
										<span class="h6 fw-light mb-0">Zbritje (nuk aplikohet)</span>
										<span class="h6 fw-light mb-0"> 0% </span>
									</li>
									<li class="list-group-item py-0"><hr class="my-0"></li>
									<li class="list-group-item d-flex justify-content-between pb-0">
										<span class="h5 fw-normal mb-0">Totali</span>
										
										<span class="h5 fw-normal mb-0">@total Euro</span>
									</li>
								</ul>

								<div class="d-grid mt-4 gap-2">
									<div class="form-check form-check-inline mb-0">
										<input class="form-check-input" type="radio" name="discountOptions" id="lek" value="option1">
										<label class="form-check-label h6 fw-normal mb-0" for="discount1">Paguaj ne Lek</label>
									</div>
									<div class="form-check form-check-inline mb-0">
										<input class="form-check-input" type="radio" name="discountOptions" id="euro" value="option1" checked>
										<label class="form-check-label h6 fw-normal mb-0" for="discount1">Paguaj ne Euro</label>
									</div>
									<a href="cab-booking.html" class="btn btn-dark mb-0 mt-2">Paguaj tani</a>
								</div>
							</div>
						</div>
					</aside>
				</div>
			</div>
		</div>
	</section>
</main>

<script>
	$(document).ready(function (){
		toastr.options = {
			'closeButton': true,
			'debug': false,
			'newestOnTop': false,
			'progressBar': false,
			'positionClass': 'toast-top-right',
			'preventDuplicates': false,
			'showDuration': '3000',
			'hideDuration': '3000',
			'timeOut': '3000',
			'extendedTimeOut': '3000',
			'showEasing': 'swing',
			'hideEasing': 'linear',
			'showMethod': 'fadeIn',
			'hideMethod': 'fadeOut',
		}
		$(".btnDeleteItem").click(function () {
			var itemId = $(this).attr("data-id")
			console.log(itemId);
			$.ajax({
				url: "/Cart/DeleteItemFromCart?itemId=" + itemId,
				method: "POST",
				success: function (data) {
					if (data == "true") {
						toastr.success("Artikulli u hoq nga shporta")
						window.location = "/Cart/GetUserCart";
					}
					else {
						toastr.error("Ndodhi nje gabim gjate heqjes se artikullit")
					}
				},
				error: function (err) {
					toastr.error("Ndodhi nje gabim gjate heqjes se artikullit")
				}
			});
		})


		$("#deleteAll").click(function () {
			$.ajax({
				url: "/Cart/DeleteAllItemsFromCart",
				method: "POST",
				success: function (data) {
					if (data == "true") {
						toastr.success("Artikujt u hoq nga shporta")
					}
					else {
						toastr.error("Ndodhi nje gabim gjate heqjes se artikujve")
					}
				},
				error: function (err) {
					toastr.error("Ndodhi nje gabim gjate heqjes se artikujve")
				}
			});
		})
	})
</script>